{% load i18n %}
{% load wjs_tags %}
{% if article|article_has_children %}
  <div class="genealogy-children">
    {% regroup article.genealogy.children.all by section as children_by_section %}
    {% for group in children_by_section %}
      <div class="card">
        <ul class="card-content collapsible" data-collapsible="accordion">
          <li{% if group.list|length < 3 %} class="active"{% endif %}>
            <div class="article-documents collapsible-header">
              <h2 class="article-documents-title">
                {% if group.grouper.name == "Erratum" %}
                  {% trans "This article is corrected by" %}
                {% else %}
                  {% blocktrans with plural=group.grouper.plural|lower %}Invited {{ plural }}{% endblocktrans %}
                {% endif %}
              </h2>
              <i class="material-icons right">arrow_drop_down</i>
            </div>
            <div class="article-documents-list collapsible-body">
              {% for kid in group.list %}
                <div class="article-documents-list-item">
                  <div class="article-documents-list-item-header">
                    <h6 class="article-documents-list-item-title">
                      <a href="{{ kid.url }}">{{ kid.title }}</a>
                    </h6>
                    <div class="date">
                      <i class="fa fa-calendar"></i>
                      {{ kid.date_published|date:DATE_FORMAT }}
                    </div>
                  </div>
                  <div class="collapsible-author">
                    by
                    {% for au in kid.frozen_authors.all %}
                      <a href="{% url 'articles_by_author' au.pk %}">{{ au.full_name }}</a>{# djlint:off #}{% if forloop.revcounter0 >= 2 %},{% endif %}{% if forloop.revcounter0 == 1 %} and{% endif %}{# djlint:on #}
                    {% endfor %}
                  </div>
                  <div class="article-documents-list-item-abstract">{{ kid.abstract|default:""|safe|truncatewords_html:23 }}</div>
                </div>
              {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    {% endfor %}
    <div class=" right-aligned right-align">
      <a class="btn-floating waves-effect waves-light" href="#article-top"><i class="tiny material-icons">arrow_drop_up</i></a>
    </div>
  </div>
{% endif %}
