{% extends "core/base.html" %}
{% load truncate %}
{% block body %}
  <div class="homepage-grid">
    {% for element in homepage_elements %}
      <div class="homepage-element homepage-element-{{ forloop.counter }}">{% include element.template_path %}</div>
    {% endfor %}
  </div>
{% endblock body %}
{% block js %}
  {{ block.super }}
  <script>
    MathJax = {
      tex: { inlineMath: [["\\(", "\\)"], ["$", "$"]] },
      output: { displayOverflow: 'linebreak' },
    };
  </script>
  <script src='https://cdn.jsdelivr.net/npm/mathjax@4.1.1/tex-mml-chtml.js' async></script>
{% endblock js %}
